<center><h1>Fort Collins Fringe Festival</h1></center>


<video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
  <source src="//a0.muscache.com/airbnb/static/London-P1-1.mp4" type='video/mp4'>
    <source src="//a0.muscache.com/airbnb/static/London-P1-0.webm" type='video/webm'>
      Video not supported </video>
